*.in
Makefile
/libtool
*.log
/compile
/config.*
/configure
*~
/stamp-h*
/ABOUT-NLS
/aclocal.m4
/autom4te.cache
/depcomp
/install-sh
/ltmain.sh
/m4
/missing
/src/gvalgrind
*.o
/po/Makevars
/po/Makevars.template.orig
/po/POTFILES
/po/Rules-quot
/po/*.sed
/po/*.header
/po/*.gmo
/po/*.pot
/po/*.sin
/po/stamp-po
.deps
